:root{
    --branco: #fff;
    --laranja-claro: #F6E4D0;
    --laranja-escuro: #EC8922;
    --verde: #6DC35D;
    --verde-escuro: #3F7333;
    --laranja-muito-claro: #FFF9F3;
    --preto: #000;
}

.container{
    width: 100%;
    margin: auto;
    max-width: 1440px;
    padding: 0 20px;
}

/* ESTILIZAÇÃO TOPO */


.topo{
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 12px solid #EC8922;
}

.topo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}
.btn-pesquisar{
    display: flex;
    width: 461px;
    height: 64px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--preto);
}

#search{
    outline: none;
    border: none;
    padding: 0 16px;
    width: 100%;
    height: 100%;
    color: #6D6B6B;
    font-family: Oswald;
    font-size: 28px;
    font-weight: var(--paragrafos)
}
.fa-magnifying-glass{
    font-size: 40px;
}
.fa-bars{
    font-size: 64px;
}

/* ESTILIZAÇÃO BANNER */

.banner{
    display: flex;
    padding: 180px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    background: url("../img/suco-de-laranja-fresco-e-frio.jpg");
    background-size: cover;
    background-position-y: 15%;
}
.banner__txt{
    display: flex;
    height: 211px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
h1{
    font-family: Oswald;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.destaque{
    color: var(--verde);
}
h3{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
}
.banner__imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.suco{
    width: 208px;
    height: 192px;
    border-radius: 25px;
    box-shadow: 0px 5px 4.3px 0px rgba(0, 0, 0, 0.25);
}

/* ESTILIZAÇÃO SECÃO - SUCOS */

.sucos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 610px));
    grid-auto-rows: 1fr;
    justify-content: center;
    padding: 0px 16px;
    column-gap: 68px;
    background: var(--laranja-muito-claro);
}
.texto{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-top: 12px solid var(--verde);
    margin-top: 32px;
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.img-h{
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("../img/img-hsucos-h.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}
.img-v{
    grid-row: 1/3;
    grid-column: 2/3;
    background-image: url("../img/img-vsucos-v.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 687px;
}
h2{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 700;
}
p{
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
}
.btn1{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: var(--verde);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    border: 2px solid var(--verde);
    background: none;
}



/* ESTILIZAÇÃO SECÃO - VITAMINAS */

.vitaminas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 610px));
    grid-auto-rows: 1fr;
    justify-content: center;
    padding: 0px 16px;
    column-gap: 68px;
}
.texto2{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-top: 12px solid var(--laranja-escuro);
    width: clamp(320px, 100%, 610px);
    margin-top: 32px;
    grid-column: 2/3;
    /* grid-row: 1/2; */
}
.img-hv{
    background-image: url("../img/img-hvitaminas-h.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
    grid-column: 2/3;
    /* grid-row: 2/3; */
}
.img-vv{
    grid-row: 1/3;
    grid-column: 1/2;
    background-image: url("../img/img-vvitaminas-v.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 687px;
}
.btn2{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: var(--branco);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    border: 2px solid var(--verde);
    background: var(--verde);
}

/* ESTILIZAÇÃO SESSÃO - NOVIDADES */

.novidades{
    display: flex;
    justify-content: center;
    padding: 0px 68px;
    gap: 68px;
    background: var(--laranja-muito-claro);
    flex-wrap: wrap;
    align-items: center;
}
.texto3{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-top: 12px solid var(--verde);
    margin-top: 32px;
    width: clamp(320px, 100%, 610px);
}
.img-vp{
    background-image: url("../img/img-vnew-pitaya-fresh.png");
    width: clamp(320px, 100%, 610px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 689px;
}

/* ESTILIZAÇÃO SESSÃO - MARKETING */

.marketing{
    display: flex;
    padding: 0px 68px;
    justify-content: center;
    align-items: center;
    gap: 68px;
}
.negrito{
    font-weight: 700;
}
.texto4{
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-top: 12px solid var(--laranja-escuro);
    margin-top: 32px;
    width: clamp(320px, 100%, 775px);
    /* width: clamp(320px, 100%, 610px); */
}
h4{
    color: var(--preto);
    font-family: "Oswald";
    font-size: 14px;
    font-weight: 400;
}
.texto4 form{
    width: clamp(288px, 100%, 732px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}
.formulario{
    width: 100%;
    display: flex;
    padding-bottom: 29px;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    color: var(--preto);
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 300;
}
.formulario input{
    padding: 0;
    width: 100%;
    font-family: "Oswald";
    font-size: 20px;
    font-weight: 300;
    /* padding: 0px 20px; */
    border-radius: 8px;
    border: 1px solid var(--verde);
}

.nome{
    grid-column: 1/6;
}
.cpf{
    grid-column: 1/4;
}
.cep{
    grid-column: 4/6;
}
.endereco{
    grid-column: 1/6;
}
.numero{
    grid-column: 1/4;
}
.complemento{
    grid-column: 4/6;
}
.cidade{
    grid-column: 1/3;
}
.estado{
    grid-column: 3/4;
}
.celular{
    grid-column: 4/6;
}
.botoes{
    grid-column: 1/6;
    display: flex;
    justify-content: flex-end;
    gap: 32px;
}